<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>

<div id="headwrap">
    <div class="main container">
        <div class="row-fluid">
            <ul id="myTab" class="nav nav-tabs">
                <li class="">
                    <a href="/" >首页</a>
                </li>
                <li class="">
                    <a href="/" >配置</a>
                </li>
                <li class="active">
                    <a href="help.html" >帮助</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mainwrap">
    <div class="main container">

        <div class="row-fluid">
            <div class="contentWrap clearfix">
                 <img src="assets/img/index-big.jpg" class="index-bigImg"/>
            </div>
        </div>
    </div>
</div>

<%= page.foot %>

<%= page.basefoot %>
