<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>联盟组织</title>
<%= page.head %>
            <div id="create" class="index-bigImg-wrap clearfix">
                <a href="startActivity.html">
                    <img src="assets/img/index-big.png" class="index-bigImg"/>
                </a>
            </div>
        </div>
        <div class="contentWrap index-contentWrap clearfix">
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-1.png">
                <h3 class="index-item-title">活动推广</h3>
                <p class="index-item-explain">轻松组织活动</p>
                <p class="index-item-explain">一键多渠道推广</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-2.png">
                <h3 class="index-item-title">商品推荐</h3>
                <p class="index-item-explain">轻松推荐商品</p>
                <p class="index-item-explain">精选商品优而美</p>
            </div>
            <div class="index-item index-item-last">
                <img class="index-item-icon" src="assets/img/index-icon-3.png">
                <h3 class="index-item-title">服务推广</h3>
                <p class="index-item-explain">推广服务类消费</p>
                <p class="index-item-explain">在线支付线下使用</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-4.png">
                <h3 class="index-item-title">联盟共享</h3>
                <p class="index-item-explain">高效管理会员</p>
                <p class="index-item-explain">实现精准营销</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-5.png">
                <h3 class="index-item-title">会员积分</h3>
                <p class="index-item-explain">支持自定义会员卡</p>
                <p class="index-item-explain">会员积分成长计划</p>
            </div>
            <div class="index-item index-item-last">
                <img class="index-item-icon" src="assets/img/index-icon-6.png">
                <h3 class="index-item-title">商务合作</h3>
                <p class="index-item-explain">联盟共享大数据</p>
                <p class="index-item-explain">联盟多行业协作</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-7.png">
                <h3 class="index-item-title">移动报名</h3>
                <p class="index-item-explain">移动端报名</p>
                <p class="index-item-explain">支持问卷调查</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-8.png">
                <h3 class="index-item-title">在线支付</h3>
                <p class="index-item-explain">银联、支付宝、微信</p>
                <p class="index-item-explain">以及国际信用卡支付</p>
            </div>
            <div class="index-item index-item-last">
                <img class="index-item-icon" src="assets/img/index-icon-9.png">
                <h3 class="index-item-title">二维码签到</h3>
                <p class="index-item-explain">二维码发送</p>
                <p class="index-item-explain">现场扫码签到</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-10.png">
                <h3 class="index-item-title">在线客服</h3>
                <p class="index-item-explain">自动绑定公众平台</p>
                <p class="index-item-explain">在线自动客服功能</p>
            </div>
            <div class="index-item">
                <img class="index-item-icon" src="assets/img/index-icon-11.png">
                <h3 class="index-item-title">渠道拓展</h3>
                <p class="index-item-explain">跨行业推荐</p>
                <p class="index-item-explain">商务合作拓展</p>
            </div>
            <div class="index-item index-item-last">
                <img class="index-item-icon" src="assets/img/index-icon-12.png">
                <h3 class="index-item-title">统计分析</h3>
                <p class="index-item-explain">统计导出会员数据</p>
                <p class="index-item-explain">分析推荐购买信息</p>
            </div>
        </div>
    </div>
<%= page.foot %>

<script src="assets/js/index.js"></script>
</body>
</html>

