<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Disconf - 分布式配置管理平台</title>

        <%= page.head %>

        <div id="mainwrap">
            <div class="main container">

                <div class="row-fluid">
                    <div class="contentWrap clearfix">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 选择APP<span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">动作</a>
                                </li>
                                <li>
                                    <a href="#">恐怖</a>
                                </li>
                                <li>
                                    <a href="#">战争</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 选择版本 <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">动作</a>
                                </li>
                                <li>
                                    <a href="#">恐怖</a>
                                </li>
                                <li>
                                    <a href="#">战争</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 选择环境 <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">动作</a>
                                </li>
                                <li>
                                    <a href="#">恐怖</a>
                                </li>
                                <li>
                                    <a href="#">战争</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="row-fluid">

                    <div class="contentWrap clearfix">
                        <table class="account-tableWrap">
                            <thead>
                                <tr>
                                    <td class="account-table-title-companyName">APP名/Id</td>
                                    <td class="account-table-title-companyName">版本</td>
                                    <td class="account-table-title-companyName">环境</td>
                                    <td class="account-table-title-companyName">配置类型</td>
                                    <td class="account-table-title-companyType">配置文件名或配置KEY</td>
                                    <td class="account-table-title-email">创建/修改时间</td>
                                    <td class="account-table-title-phone">值</td>
                                    <td class="account-table-title-activate">操作</td>
                                </tr>
                            </thead>
                            <tbody id="accountBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 详细信息单行模板-->
        <div id="tbodyTpl" class="hide">
            <table>
                <tr>
                    <td class="account-table-companyName">{1}</td>
                    <td class="account-table-companyType">{2}</td>
                    <td class="account-table-email">{3}</td>
                    <td class="account-table-phone">{4}</td>
                    <td class="account-table-city">{5}</td>
                    <td class="account-table-applyinfo">{6}</td>
                    <td class="account-table-registerTimeString">{7}</td>
                    <td id="activate{0}" class="account-table-activate" rel="{0}">激活</td>
                </tr>
            </table>
        </div>

        <%= page.foot %>

        <script src="assets/js/mainList.js"></script>
        </body>
</html>

