
<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>

<div id="headwrap">
    <div class="main container">
        <div class="row-fluid">
            <ul id="myTab" class="nav nav-tabs">
                <li class="">
                    <a href="/" >首页</a>
                </li>
                <li class="active">
                    <a href="/" >配置</a>
                </li>
                <li class="">
                    <a href="help.html" >帮助</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mainwrap">
    <div class="main container">

        <div class="row-fluid">
            <div class="contentWrap clearfix">
                <div class="btn-group">
                    <a id="appChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择APP</span> </span></span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="appChoice">
                    </ul>
                </div>

                <div class="btn-group">
                    <a id="versionChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择版本 </span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="versionChoice" >
                    </ul>
                </div>

                <div class="btn-group">
                    <a id="envChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择环境 </span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="envChoice" >
                    </ul>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="contentWrap clearfix">
                <table class="account-tableWrap">
                    <thead>
                        <tr>
                            <td class="account-table-title-companyName">APP id: 名称</td>
                            <td class="account-table-title-companyName">版本</td>
                            <td class="account-table-title-companyName">环境</td>
                            <td class="account-table-title-companyName">类型</td>
                            <td class="account-table-title-companyType">文件名或KEY</td>
                            <td class="account-table-title-phone">配置值</td>
                            <td class="account-table-title-email">修改时间</td>
                            <td class="account-table-title-activate">操作</td>
                        </tr>
                    </thead>
                    <tbody id="accountBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- 详细信息单行模板-->
<div id="tbodyTpl" class="hide">
    <table>
        <tr>
            <td class="account-table-companyName">{1}: {0}</td>
            <td class="account-table-companyType">{2}</td>
            <td class="account-table-email">{4}</td>
            <td class="account-table-phone">{5}</td>
            <td class="account-table-city">{6}</td>
            <td class="account-table-registerTimeString">{9}</td>
            <td class="account-table-applyinfo">{8}</td>
            <td>{10}</td>
        </tr>
    </table>
</div>

<%= page.foot %>

<script src="assets/js/mainList.js"></script>

<%= page.basefoot %>
