<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>

<div id="headwrap">
    <div class="main container">
        <div class="row-fluid">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="/main.html" >配置</a>
                </li>
                <li>
                    <a href="/newconfig_item.html" >新建配置</a>
                </li>
                <li class="">
                    <a href="https://github.com/knightliao/disconf" target="_blank">帮助</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mainwrap">
    <div class="main container">

        <div class="row-fluid">
            <div class="contentWrap clearfix">
                <div class="btn-group">
                    <a id="appChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择APP</span> </span></span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="appChoice"></ul>
                </div>

                <div class="btn-group">
                    <a id="versionChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择版本 </span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="versionChoice" ></ul>
                </div>

                <div class="btn-group">
                    <a id="envChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span style="margin-right:2px;">选择环境 </span><span class="caret"></span> </a>
                    <ul class="dropdown-menu" id="envChoice" ></ul>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="contentWrap clearfix">
                <table class="account-tableWrap">
                    <thead>
                        <tr>
                            <td >名称(appid)</td>
                            <td >版本</td>
                            <td >环境</td>
                            <td >类型</td>
                            <td >文件名或KEY</td>
                            <td >最近修改时间</td>
                            <td >操作</td>
                        </tr>
                    </thead>
                    <tbody id="accountBody" class="account-tableWrap">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 详细信息单行模板-->
<div id="tbodyTpl" class="hide">
    <table>
        <tr>
            <td>{0}({1})</td>
            <td>{2}</td>
            <td>{4}</td>
            <td>{5}</td>
            <td>{6}</td>
            <td>{8}</td>
            <td>{10} &nbsp; {11}</td>
        </tr>
    </table>
</div>

<%= page.foot %>

<script src="assets/js/mainList.js"></script>

<%= page.basefoot %>
