<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        ">

    <context:component-scan base-package="com.baidu" />

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <bean id="propertyConfigurerForProject1"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:/redis.properties</value>
                <value>classpath*:/coefficients.properties</value>
                <value>classpath*:/remote.properties</value>
                <value>classpath*:/static.properties</value>
            </list>
        </property>
    </bean>

    <bean id="jedisConfig" class="com.baidu.disconf.demo.config.JedisConfig">
        <property name="host" value="${redis.host}" />
        <property name="port" value="${redis.port}" />
    </bean>

    <bean id="coefficients" class="com.baidu.disconf.demo.config.Coefficients">
        <property name="baiFaCoe" value="${coe.baiFaCoe}" />
        <property name="yuErBaoCoe" value="${coe.yuErBaoCoe}" />
    </bean>

    <bean id="remoteServerConfig" class="com.baidu.disconf.demo.config.RemoteServerConfig">
        <property name="remoteHost" value="${remoteHost}" />
        <property name="remotePort" value="${remotePort}" />
    </bean>

    <bean id="staticConfig" class="com.baidu.disconf.demo.config.StaticConfig">
        <property name="staticVar" value="${staticVar}" />
    </bean>


    <bean id="disconfMgrBean" class="com.baidu.disconf.client.DisconfMgrBean"
        destroy-method="destory">
        <property name="scanPackage" value="com.baidu.disconf.demo" />
    </bean>
    <bean id="disconfMgrBean2" class="com.baidu.disconf.client.DisconfMgrBeanSecond"
        init-method="init" destroy-method="destory">
    </bean>

</beans>