<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <jmxConfigurator />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <property name="log.base" value="./log/disconf-demo" />
    <appender name="logfile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.baidu.disconf">
        <level value="DEBUG" />
    </logger>

    <logger name="com.baidu.disconf.demo">
        <level value="INFO" />
        <appender-ref ref="logfile" />
    </logger>

    <logger name="org.springframework">
        <level value="WARN" />
    </logger>

    <logger name="net.sf.ehcache">
        <level value="ERROR" />
    </logger>

    <logger name="org.springmodules">
        <level value="ERROR" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>

</configuration>

