<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages/message-info</value>
                <value>classpath:messages/sign-controller-info</value>
                <value>classpath:messages/sign-service-info</value>
                <value>classpath:messages/config-controller-info</value>
                <value>classpath:messages/app-service-info</value>
                <value>classpath:messages/app-controller-info</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
    </bean>

    <bean id="my_validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass"
                  value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

</beans>