<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:property-placeholder location="classpath*:/application.properties"
                                  ignore-unresolvable="true"/>

    <bean id="handlerAdapter"
          class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <util:list>
                <ref bean="byteArrayHttpMessageConverter"/>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </util:list>
        </property>
    </bean>

    <bean id="byteArrayHttpMessageConverter"
          class="org.springframework.http.converter.ByteArrayHttpMessageConverter">
        <property name="supportedMediaTypes">
            <util:list>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="application"/>
                    <constructor-arg index="1" value="csv"/>
                    <constructor-arg index="2">
                        <util:map id="csvMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9999"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="text"/>
                    <constructor-arg index="1" value="html"/>
                    <constructor-arg index="2">
                        <util:map id="textHtmlMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9991"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
            </util:list>
        </property>
    </bean>

    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <util:list>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="text"/>
                    <constructor-arg index="1" value="plain"/>
                    <constructor-arg index="2">
                        <util:map id="textPlainMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9997"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="*"/>
                    <constructor-arg index="1" value="*"/>
                    <constructor-arg index="2">
                        <util:map id="allMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9995"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="text"/>
                    <constructor-arg index="1" value="*"/>
                    <constructor-arg index="2">
                        <util:map id="textMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9996"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="application"/>
                    <constructor-arg index="1" value="json"/>
                    <constructor-arg index="2">
                        <util:map id="jsonMediaTypeParams"
                                  map-class="java.util.HashMap">
                            <entry key="q" value="0.9999"></entry>
                            <entry key="charset" value="UTF-8"></entry>
                        </util:map>
                    </constructor-arg>
                </bean>
            </util:list>
        </property>
    </bean>


    <!-- annotation默认的方法映射适配器 -->
    <bean id="handlerMapping"
          class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/console/" p:suffix=".jsp" p:order="0"/>


    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="defaultContentType" value="application/json"/>
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="favorPathExtension" value="true"/>
        <property name="order" value="1"/>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <ref bean="jsonView"/>
            </list>
        </property>
    </bean>

    <bean id="jsonView"
          class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
        <property name="contentType" value="application/json;charset=UTF-8"/>
        <property name="disableCaching" value="true"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="uploadTempDir" value="temp"></property>
        <property name="maxInMemorySize" value="4194304"/>
        <!-- 最大内存大小 -->
        <property name="maxUploadSize" value="4194304"/>
        <!-- 最大文件大小，1024*1024*4 = 4M -->
    </bean>

    <mvc:resources mapping="/api/system/**" location="/WEB-INF/public-resources/"
                   cache-period="259200"/>

</beans>