<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:message-info</value>
                <value>classpath:com/baidu/disconf/web/web/auth/resource/sign-controller-info
                </value>
                <value>classpath:com/baidu/disconf/web/service/sign/resource/sign-service-info
                </value>
                <value>classpath:com/baidu/disconf/web/web/config/resource/config-controller-info
                </value>
                <value>classpath:com/baidu/disconf/web/service/app/resource/app-service-info
                </value>
                <value>classpath:com/baidu/disconf/web/web/app/resource/app-controller-info
                </value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="false"/>
    </bean>

</beans>