<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>

<div id="mainwrap">
    <div class="main container">
        
        <pre id = "hostInfo">
        
        
        
        
        
        </pre>
       
    </div>
</div>

<!-- 详细信息单行模板-->
<div id="tbodyTpl" class="hide">
    <table>
        <tr>
            <td>{0}({1})</td>
            <td>{2}</td>
            <td>{4}</td>
            <td>{5}</td>
            <td>{6}</td>
            <td>{8}</td>
            <td>{10} &nbsp; {11}</td>
        </tr>
    </table>
</div>

<%= page.foot %>

<script src="assets/js/confUsage.js"></script>

<%= page.basefoot %>
