<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>

<div id="Wrapper" class="clearfix">
    <div id="Main" style="margin-top:50px;">
        <div class="container-fluid">

            <div class="row-fluid">
                <ul class="breadcrumb" style="background-color:#fff;">
                    <li>
                        <a href="/main.html">配置</a>
                    </li>
                    <li class="active">
                        / 新建配置项
                    </li>
                </ul>
            </div>

            <div class="row-fluid">
                <div class="span12">

                    <div class="content">
                        <form id="form" action="/config/" method="post" enctype="multipart/form-data"
                              class="private-form clearfix">
                            <h2 class="autoPush-detail-title"> 新建配置项</h2>

                            <div class="private-item">
                                <span class="private-item-key">APP选择:</span>

                                <div class="btn-group">
                                    <a id="appChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span style="margin-right:2px;">选择APP</span> </span></span><span
                                            class="caret"></span> </a>
                                    <ul class="dropdown-menu" id="appChoice"></ul>
                                </div>
                            </div>
                            <div class="private-item">
                                <span class="private-item-key">版本：</span>

                                <div class="btn-group">
                                    <a id="versionChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span style="margin-right:2px;">选择版本 </span><span class="caret"></span> </a>
                                    <ul class="dropdown-menu" id="versionChoice"></ul>
                                </div>
                            </div>
                            <div class="private-item" id="selfversion" style="display:none">
                                <span class="private-item-key">自定义版本：</span>
                                <input id="selfversion_value" type="text" class="private-item-value"/>
                            </div>
                            <div class="private-item">
                                <span class="private-item-key">环境：</span>

                                <div class="btn-group">
                                    <a id="envChoiceA" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span style="margin-right:2px;">选择环境 </span><span class="caret"></span> </a>
                                    <ul class="dropdown-menu" id="envChoice"></ul>
                                </div>
                            </div>
                            <div class="private-item">
                                <span class="private-item-key">配置项名：</span>
                                <input id="key" type="text" class="private-item-value"/>
                            </div>
                            <div class="private-item">
                                <span class="private-item-key">配置值：</span>
                                <input id="value" type="text" class="private-item-value"/>
                            </div>
                            <div id="error" class="alert alert-warning hide" role="alert">
                                表单选项不能为空或填写格式错误！
                            </div>
                            <div class="private-item" style="text-align:center">
                                <a id="item_submit" class="btn btn-primary"> 新建 </a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%= page.foot %>

<script src="assets/js/config_common.js"></script>
<script src="assets/js/newconfigitem.js"></script>

<%= page.basefoot %>
