<%= page.basehead %>

<title>Disconf - 分布式配置管理平台</title>

<%= page.head %>




    <div id="Wrapper" class="clearfix">
    <div id="Main" style="margin-top:50px;">
        <div class="container-fluid">
            <div class="row-fluid" style="min-height:400px;">
                <div class="span10" style="float:left">

                    <div id="top_div" class="row-fluid" style="margin-bottom:5px">
                        <a id="add_button" href="/user_role_add.html" class="btn-small btn-primary" style="float:right;" title=""
                           type="button">
                            <b>添加</b>
                        </a>
                    </div>

                    <div class="row-fluid">

                        <div class="contentWrap clearfix">
                            <table id="userRoleTable"
                                   class="table table-bordered table-condensed table-hover account-tableWrap table-striped">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>用户名</td>
                                    <td>管理的应用</td>
                                    <td>角色</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody id="userRoleBody"
                                       style="max-width:760px; overflow-wrap: break-word;word-wrap: break-word;"
                                       class="account-tableWrap"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- 详细信息单行模板-->
                <div id="tbodyTpl" class="hide" style="width:0px;">
                    <table>
                        <tr>
                            <td>{0}</td>
                            <td style="max-width:100px">{1}</td>
                            <td style="max-width:100px">{2}</td>
                            <td>{3}</td>
                            <td>{4} &nbsp; {5} &nbsp; </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<%= page.foot %>

        <script src="assets/js/userRoleManage.js"></script>

<%= page.basefoot %>

